body {
  background-color: lightpink;
}

#centre {
  width: 50%;
  margin-left: 25%;
}

p {
  display: inline;
  position: relative;
  top: -10px;
}

#title {
  height: 300px;
}

#slogan {
  margin-top: 125px;
}

@keyframes jump {
  0% {
    top: -10px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: -10px;
  }
}

.letter-wave {
  animation-name: jump;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes colour-change {
  0% {
    filter: hue-rotate(0deg);
  }
  25% {
    filter: hue-rotate(90deg);
  }
  75% {
    filter: hue-rotate(180deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.letter-hue {
  color: #0bb68a;
  animation-name: colour-change;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition-duration: 0.5s;
}

.title-container p {
  font-family: sans-serif;
  top: 175px;
}

/* I can adjust each of these letters*/

#face {
  height: 70px;
}

#eye-left {
  top: 91px;
  left: 55px;
  font-size: 50px;
}

#eye-right {
  top: 91px;
  left: 110px;
  font-size: 50px;
}

#hand {
  top: -87px;
  left: -73px;
  font-size: 120px;
  display: block;
  transform: rotate(-20deg);
}

#mouth {
  top: -125px;
  left: 73px;
  font-size: 89px;
}

p.letter-position-0 {
  top: 40px;
}

p.letter-position-1 {
  top: 25px;
  left: 10px;
}

p.letter-position-2 {
  top: 5px;
  left: 20px;
}

p.letter-position-3 {
  top: 0px;
  left: 30px;
}

p.letter-position-4 {
  top: 5px;
  left: 40px;
}

p.letter-position-5 {
  top: 20px;
  left: 50px;
}

p.letter-position-6 {
  top: 30px;
  left: 60px;
}

p.letter-position-7 {
  top: 40px;
  left: 60px;
}

p.letter-position-8 {
  top: 55px;
  left: 40px;
}

p.letter-position-9 {
  top: 70px;
  left: 10px;
}

p.letter-position-10 {
  top: 85px;
  left: -10px;
}

p.letter-position-11 {
  top: 100px;
  left: -30px;
}

p.letter-position-12 {
  top: 115px;
  left: -50px;
}

p.letter-position-13 {
  top: 130px;
  left: -70px;
}

p.letter-position-14 {
  top: 145px;
  left: -90px;
}

p.letter-position-15 {
  top: 160px;
  left: -110px;
}

p.letter-position-16 {
  top: 175px;
  left: -130px;
}

p.letter-position-17 {
  top: 190px;
  left: -150px;
}

p.letter-position-18 {
  top: 205px;
  left: -170px;
}

p.letter-position-19 {
  top: 220px;
  left: -190px;
}

p.letter-position-20 {
  top: 235px;
  left: -210px;
}

p.letter-position-21 {
  top: 245px;
  left: -210px;
}
